.header {
  text-align: center;
  font-size: 25px;
  letter-spacing: 3px;
}

.main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow-x: hidden;
}

.ratio {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 50px;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  padding: 20px;
}


@media (max-width: 1084px){
  .ratio{
    font-size: 35px;
  }
}

@media (max-width: 815px){
  .main{
    flex-direction: column;
  }

  .ratio{
    order: -1;
    margin-bottom: 30px;
  }
}


// description

.description {
  padding: 20px 0 20px 70px;
  margin: 20px;
  margin-top: 30px;
  display: flex;

  &--left {
    font-size: 30px;
    min-width: 300px;
    margin-left: 5vw;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & .list__title{
      font-weight: 600;
    }
  }

  &--right {
    text-align: justify;
    padding: 10px 100px;
    max-width: 1000px;
    margin-left: 10vw;

    & .par{
      margin: 30px;
      text-align: center;
    }

    & .par--title{
      text-align: center;
      font-weight: 700;
    }

    & .par--link{
      padding-top: 5rem;
    }

    & .description__list{
      padding: 5px;
      text-align: center;
      list-style-type: circle;
      list-style-position: inside;
    }

    & .description__listItem{
      padding: 5px 0;
    }

    & .par--aboutAAA{
      margin-top: 0;
    }
  }

  &__link{
    font-weight: 600;

    transition: 0.2s all;
    will-change: text-decoration;

    &:hover{
      text-decoration: overline;
    }
  }
}


@media (max-width: 1200px){
  .description{
    &--right{
      margin-left: 0;
    }
  }
}


@media (max-width: 1020px){
  .description{
    padding: 10px;
    flex-direction: column;

    &--left {
      min-width: 0px;
      padding: 10px;

      & .description__listItem{
        display: inline-flex;
        margin: 0 1.5rem;
      }
    }
  }
}

@media (max-width: 740px){
  .description{
    padding: 10px 5px;

    &--left {
      padding: 10px 5px;

      & .description__listItem{
        font-size: 1.5rem;
      }
    }

    &--right{
      padding: 10px 5vw;

      & .par--link{
        padding-top: 2rem;
      }
    }
  }
}

@media (max-width: 630px){
  .description--left {

    & .description__listItem{
      display: list-item;
    }
  }
}

// buttons

.description__buttons{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 50px;

  .button{
    font-size: 18px;
    padding: 10px 15px;
    margin: 0 0 0 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;

    transition: 0.4s all;
    will-change: border-radius;

    &:hover{
      border-radius: 15px;
    }
  }
}


@media (max-width: 740px){
  .description__buttons{
    flex-direction: column;
    align-items: center;

    & .button{
      margin: 15px 0;
    }
  }
}

// github

.description__icon{
  display: block;
}

.fab{
  color: black;
  font-size: 6rem;
  padding-bottom: 20px;
  text-shadow: 0 0 2px rgb(250, 250, 250);
  transition: 0.2s all;

  &:hover{
    color: #222;
  }
}

@media (max-width: 630px){
  .description__icon{
    text-align: right;
  }

  .fab {
    font-size: 4rem;
    padding: 20px;
    margin-right: 0;
  }
}
