.form{
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

/* main label + <colorPicker> */
.form__color {
  display: flex;
  justify-content: center;
  align-items: center;

  & .form {
   &__label {
     text-transform: capitalize;
     font-size: 15px;
     margin-right: 10px;
    }
  }
}


/* ranges */

// thumb variables

$thumb-color: #fff;
$thumb-radius: 8px;
$thumb-height: 25px;
$thumb-width: 8px;
$thumb-shadow-size: 1px;
$thumb-shadow-blur: 1px;
$thumb-shadow-color: #111;

// e/o thumb variables

// track variables

$track-color: rgba(220, 220, 220, 0.4);
$track-width: 90%;
$track-height: 8px;
$track-shadow-size: 2px;
$track-shadow-blur: 2px;
$track-shadow-color: #222;
$track-border-width: 1px;
$track-border-color: black;
$track-radius: 5px;

// e/o track variables

// mixins

@mixin shadow($shadow-size, $shadow-blur, $shadow-color) {
  box-shadow: $shadow-size $shadow-size $shadow-blur $shadow-color, 0px 0px $shadow-size $shadow-color;
}

@mixin track() {
  max-width: $track-width;
  height: $track-height;
}

@mixin thumb() {
  @include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color);
  border: none;
  height: $thumb-height;
  width: $thumb-width;
  border-radius: $thumb-radius;
  background: $thumb-color;
}

// e/o mixins


.form__ranges {
  & .form{

    &__label{
      width: 150px;
    }

    &__item{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 10px;
      width: 35vw;
    }
  }
}

.input--range {
  cursor: pointer;
  background: transparent;
  -webkit-appearance: none;
  margin: $thumb-height / 3 0;
  width: $track-width;

  &:focus {
    outline: none;
  }

  &::-webkit-slider-runnable-track {
    @include track();
    @include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color);
    background: $track-color;
    border-radius: $track-radius;
    border: $track-border-width solid $track-border-color;
  }

  &::-webkit-slider-thumb {
    @include thumb();
    -webkit-appearance: none;
    margin-top: ((-$track-border-width * 2 + $track-height) / 2) - ($thumb-height / 2);
  }

  &:focus::-webkit-slider-runnable-track {
    background: $track-color;
  }

  &::-moz-range-track {
    @include track();
    @include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color);
    background: $track-color;
    border-radius: $track-radius;
    border: $track-border-width solid $track-border-color;
  }

  &::-moz-range-thumb {
    @include thumb();
  }

  &::-ms-track {
    @include track();
    background: transparent;
    border-color: transparent;
    border-width: $thumb-width 0;
    color: transparent;
  }

  &::-ms-fill-lower {
    background: $track-color;
    border: $track-border-width solid $track-border-color;
    border-radius: $track-radius * 2;
    @include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color);
  }

  &::-ms-fill-upper {
    background: $track-color;
    border: $track-border-width solid $track-border-color;
    border-radius: $track-radius * 2;
    @include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color);
  }

  &::-ms-thumb {
    @include thumb();
  }

  &:focus::-ms-fill-lower {
    background: $track-color;
  }

  &:focus::-ms-fill-upper {
    background: $track-color;
  }
}


@media (max-width: 1084px){
  .form__ranges {

    & .form{
      &__item{
        position: relative;
        margin: 25px 0;
        width: 38vw;
      }

      &__label{
        position: absolute;
        left: 10px;
        bottom: 25px;
        will-change: transform;
        -moz-transform: translate3d(0, -5px, 0);
        font-size: 13px;
      }
    }
  }
}

@media (max-width: 815px){
  .form__ranges {

    & .form{
      &__item{
        margin: 15px 0;
        width: 90vw;
      }

      &__label{
        position: relative;
        font-size: 16px;
        bottom: 0;
        will-change: transform;
        -moz-transform: translate3d(0, 0, 0);
      }
    }
  }
}

@media (max-width: 465px){
  .form__ranges {

    & .input--range{
      margin: 14px 0;
    }

    & .form{

      &__label{
        position: absolute;
        left: 10px;
        bottom: 32px;
        will-change: transform;
        -moz-transform: translate3d(0, -5px, 0);
        font-size: 13px;
      }
    }
  }
}
