.form{
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

/* main label + <colorPicker> */
.form__color {
  display: flex;
  justify-content: center;
  align-items: center;

  & .form {
   &__label {
     text-transform: capitalize;
     font-size: 15px;
     margin-right: 10px;
    }
  }
}

/* ranges */

.form__ranges {
  & .form{

    &__label{
      width: 150px;
    }

    &__item{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 10px;
      width: 30vw;
    }
  }
}


.input--range{
  cursor: pointer;
  height: 3px;
  width: 20vw;
  background: #ddd;
  border-radius: 5px;
  border: 2px solid #010101;
}

.input--range::-moz-range-thumb{
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 18px;
  width: 8px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
}
